<!DOCTYPE html>
<html lang="en" class="no-js">
<head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>BOSS/WORKER后台管理系统</title>
    <link rel="stylesheet" type="text/css" href="/static/css/normalize.css" />
    <link rel="stylesheet" type="text/css" href="/static/css/login.css" />
    <!--必要样式-->
    <link rel="stylesheet" type="text/css" href="/static/css/component.css" />
    <!--[if IE]>
    <script src="/static/js/html5.js"></script>
    <![endif]-->
</head>
<body>
<div class="container demo-1">
    <div class="content">
        <div id="large-header" class="large-header">
            <canvas id="demo-canvas"></canvas>
            <div class="logo_box">
                <h3>BOSS/WORKER 欢迎你</h3>
                <form action="/sign" name="f" method="post">
                    <div class="input_outer">
                        <span class="u_user"></span>
                        <input name="account" class="text" style="color: #FFFFFF !important" type="text" placeholder="请输入账户" value="admin" readonly/>
                    </div>
                    <div class="input_outer">
                        <span class="us_uer"></span>
                        <input name="password" class="text" style="color: #FFFFFF !important; position:absolute; z-index:100;"value="" type="password" placeholder="请输入密码"/>
                    </div>
                    <div class="mb2"><a class="act-but submit" href="javascript:void(login());" style="color: #FFFFFF">登录</a></div>
                </form>
            </div>
        </div>
    </div>
</div><!-- /container -->
<script type="text/javascript">
    function login(){
        var account=$("input[name='account']").val();
        var password=$("input[name='password']").val();
        $.post("/sign?ajax=1",{"account":account,"password":password},function(e,s){
            if(e.code==0){
                location.href="/v1/?token="+e.data;
            }else{
                alert(e.msg);
            }
        },"json");
    }
</script>
<script src="/static/js/TweenLite.min.js"></script>
<script src="/static/js/EasePack.min.js"></script>
<script src="/static/js/rAF.js"></script>
<script src="/static/js/login.js"></script>
<script src="/static/js/jquery.min.js"></script>
</body>
</html>